.center{
    text-align: center;
}

#center{
    text-align: center;
    font-size: 30px;
}

#tytle{
    text-align: center;
}
.font-english{
    font-family: 'Philosopher',sans-serif;
    font-weight: normal;
}
.page-tytle,
.heading-large,
.heading-medium{
    font-size: 3rem;
    text-align: center;
}
.side-menu{
    list-style: none;
    text-align: center;
    margin-bottom: 4rem;
}
.side-menu li{
    border-bottom: 1px solid #c9c2bc;
}
.side-menu a{
    color: #432;
    display: block;
    padding: 1rem;
}
.side-menu a:hover{
    color: #0bd;
}
.news-contents{
    display: flex;
    justify-content: space-between;
}
.post{
    width: 70%;
}
.sidebar{
    width: 22%;
}
.sidebar .heading-medium{
    line-height: 1;
    margin-bottom: 1rem;
}